################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CriptografiaRFID/bin
/CriptografiaRFID/obj
/Exemplo/bin/Release
/Exemplo/obj/Release
